.container {
    text-align: center;
    color: #FEFEFE;
    font-style: normal;
    width: 50%;
    text-shadow: 1px 1px 1px #000;
}

.searchBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputSearch {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.buttonSearch {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.searchItems {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px auto 0;
    padding: 15px 20px 15px 15px;
    width: 520px;
    min-height: 141px;
    max-height: 335px;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.8);
    overflow-y: scroll;
    transition: 0.5s;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notSearchItems {
    opacity: 0;
    z-index: -2;
    cursor: default;
}

.searchItems::-webkit-scrollbar {
    display: none;
}